/* ========================= */
/*        STYLE.CSS         */
/* ========================= */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  font-family:'Poppins',sans-serif;
  background:#f5f2eb;
  color:#2f312f;
  overflow-x:hidden;
}

/* ========================= */
/*          HEADER          */
/* ========================= */

header{

  width:100%;
  height:90px;

  background:#f5f2eb;

  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:0 6%;

  position:fixed;
  top:0;
  left:0;

  z-index:1000;

  border-bottom:1px solid #ddd;

  transition:.3s;
}

/* ========================= */
/*           LOGO           */
/* ========================= */

.logo{

  display:flex;
  align-items:center;

  gap:12px;
}

.logo img{

  width:48px;
  height:48px;

  object-fit:contain;
}

.logo h2{

  color:#3f5c43;

  font-size:28px;

  font-weight:700;
}

/* ========================= */
/*           MENU           */
/* ========================= */

nav{

  display:flex;

  gap:35px;
}

nav a{

  text-decoration:none;

  color:#444;

  font-weight:500;

  transition:.3s;
}

nav a:hover{

  color:#55785b;
}

/* ========================= */
/*           HERO           */
/* ========================= */

.hero{

  height:100vh;

  background:
  linear-gradient(rgba(76,104,79,.55), rgba(76,104,79,.55)),
  url('https://images.unsplash.com/photo-1500937386664-56d1dfef3854?q=80&w=1600&auto=format&fit=crop');

  background-size:cover;

  background-position:center;

  display:flex;
  justify-content:center;
  align-items:center;

  text-align:center;

  padding:20px;
}

.hero-text{

  max-width:850px;

  color:white;
}

.hero-text span{

  background:rgba(255,255,255,.15);

  padding:10px 18px;

  border-radius:30px;

  font-size:14px;
}

.hero-text h1{

  font-size:72px;

  margin:30px 0;

  line-height:1.1;
}

.hero-text p{

  font-size:23px;

  line-height:1.8;
}

/* ========================= */
/*         PROJETO          */
/* ========================= */

.projeto{

  padding:120px 8%;

  display:grid;

  grid-template-columns:1fr 1fr;

  gap:60px;

  align-items:center;
}

.texto h2{

  font-size:55px;

  color:#4c684f;

  margin-bottom:30px;
}

.texto p{

  margin-bottom:25px;

  line-height:2;

  font-size:18px;
}

.imagem-lateral img{

  width:100%;

  border-radius:20px;

  box-shadow:0 10px 30px rgba(0,0,0,.12);
}

/* FONTE DA IMAGEM */

.fonte-img{

  margin-top:10px;

  font-size:13px;

  color:#666;
}

.fonte-img a{

  color:#4c684f;

  text-decoration:none;
}

.fonte-img a:hover{

  text-decoration:underline;
}

/* ========================= */
/*           FRASE          */
/* ========================= */

.frase{

  background:#dde8dc;

  padding:80px 8%;

  text-align:center;
}

.frase p{

  font-size:35px;

  color:#4b5f4e;

  font-style:italic;
}

/* ========================= */
/*         GALERIA          */
/* ========================= */

.galeria{

  padding:120px 8%;
}

.galeria h2{

  text-align:center;

  font-size:58px;

  color:#4c684f;
}

.sub{

  text-align:center;

  margin-top:15px;
  margin-bottom:60px;

  color:#666;
}

/* ========================= */
/*           CARDS          */
/* ========================= */

.cards{

  display:grid;

  grid-template-columns:repeat(3,1fr);

  gap:30px;
}

/* CARD VIRAR */

.flip-card{

  background:transparent;

  width:100%;
  height:320px;

  perspective:1000px;
}

.flip-card-inner{

  position:relative;

  width:100%;
  height:100%;

  transition:transform 0.8s;

  transform-style:preserve-3d;
}

.flip-card:hover .flip-card-inner{

  transform:rotateY(180deg);
}

.flip-card-front,
.flip-card-back{

  position:absolute;

  width:100%;
  height:100%;

  border-radius:20px;

  overflow:hidden;

  backface-visibility:hidden;

  -webkit-backface-visibility:hidden;
}

.flip-card-front img{

  width:100%;
  height:100%;

  object-fit:cover;
}

.flip-card-back{

  background:#4e6a53;

  color:white;

  transform:rotateY(180deg);

  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;

  text-align:center;

  padding:25px;
}

.flip-card-back h3{

  font-size:22px;

  margin-bottom:11px;
}

.flip-card-back p{

  font-size:15px;

  line-height:1.8;

  margin-bottom:20px;
}

.flip-card-back a{

  color:white;

  text-decoration:none;

  opacity:.8;

  font-size:12px;

  transition:.3s;
}

.flip-card-back a:hover{

  opacity:1;

  text-decoration:underline;
}

/* ========================= */
/*        REFLEXÃO          */
/* ========================= */

.reflexao{

  padding:120px 8%;

  display:flex;
  justify-content:center;
}

.caixa-reflexao{

  background:#ffffff;

  max-width:300px;

  padding:20px;

  border-radius:18px;

  box-shadow:0 10px 25px rgba(0,0,0,.08);
}

.caixa-reflexao h2{

  font-size:48px;

  color:#4c684f;

  margin-bottom:30px;
}

.caixa-reflexao p{

  line-height:300px;

  margin-bottom:-200px;

  font-size:18px;
}

/* ========================= */
/*          FOOTER          */
/* ========================= */

footer{

  background:#4c684f;

  color:white;

  text-align:center;

  padding:35px;
}

/* ========================= */
/*        ANIMAÇÕES         */
/* ========================= */

.texto,
.imagem-lateral,
.flip-card,
.caixa-reflexao{

  opacity:0;

  transform:translateY(40px);

  transition:all 1s ease;
}

.mostrar{

  opacity:1;

  transform:translateY(0);
}

/* ========================= */
/*      ACESSIBILIDADE      */
/* ========================= */

#acessibilidade-btn{

  position:fixed;

  right:20px;
  bottom:20px;

  z-index:9999;

  background:#4c684f;

  color:white;

  border:none;

  padding:14px 18px;

  border-radius:14px;

  cursor:pointer;

  font-size:15px;

  font-family:'Poppins';

  box-shadow:0 5px 15px rgba(0,0,0,.15);

  transition:.3s;
}

#acessibilidade-btn:hover{

  transform:scale(1.05);
}

#menu-acessibilidade{

  position:fixed;

  right:20px;
  bottom:85px;

  background:white;

  border-radius:18px;

  padding:15px;

  width:230px;

  display:none;

  flex-direction:column;

  gap:10px;

  z-index:9999;

  box-shadow:0 10px 30px rgba(0,0,0,.12);
}

#menu-acessibilidade button{

  border:none;

  background:#dde8dc;

  padding:12px;

  border-radius:10px;

  cursor:pointer;

  font-family:'Poppins';

  transition:.3s;
}

#menu-acessibilidade button:hover{

  background:#c7d8c8;
}

/* ========================= */
/*         CONTRASTE        */
/* ========================= */

body.contraste{

  background:#000;

  color:white;
}

body.contraste header{

  background:#111;
}

body.contraste .hero{

  background:#000;
}

body.contraste .caixa-reflexao{

  background:#111;

  color:white;
}

body.contraste .flip-card-back{

  background:#111;
}

body.contraste nav a{

  color:white;
}

body.contraste .logo h2{

  color:white;
}

/* ========================= */
/*        RESPONSIVO        */
/* ========================= */

@media(max-width:1000px){

  .projeto{

    grid-template-columns:1fr;
  }

  .cards{

    grid-template-columns:1fr;
  }

}

@media(max-width:768px){

  nav{

    display:none;
  }

  .hero-text h1{

    font-size:46px;
  }

  .hero-text p{

    font-size:18px;
  }

  .galeria h2,
  .texto h2,
  .caixa-reflexao h2{

    font-size:38px;
  }

  .frase p{

    font-size:25px;
  }

  .caixa-reflexao{

    padding:35px;
  }

}